.footer {
background: #071327;
}
.footer-container{
  padding-bottom: 16px; 
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-wraper{
  display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-navigation{
  display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-text{
    font-size: 12px;
    text-align: right;
}
@media only screen and (min-width: 1440px) {
  .footer-wraper{
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }
  .footer-navigation{
    align-items: end;
  }
  .footer-text{
    font-size: 13px;
  }
}