.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.home-container{
    padding-top: 100px;
}
.home-title{
    font-family: "Zen Dots", sans-serif;
        font-weight: 400;
        font-size: 44px;
        line-height: 1.2;
        color: #98e6f2;
        text-shadow: 0 4px 8px 0 #071a3a;
        margin-bottom: 16px;
}
.home-text-one{
font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
    color: #98e6f2;
    text-shadow: 0 4px 8px 0 #071a3a;
    margin-bottom: 24px;
}
.home-link{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
        padding: 16px 24px;
        width: 256px;
        height: 62px;
    background: #98e6f2;
    font-family: "Teachers", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: #071327;
        transition: background 0.3s ease-in-out;
}
.home-link:hover{
background: #81d7e4;
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/hero/desk.png");
  }
  .home-title{
    font-size: 72px;
    margin-bottom: 32px;
  }
  .home-text-one{
font-size: 32px;
width: 640px;
  }
  .home-text-two{
width: 640px;
  }
  .home-link{
    margin: 32px auto 0 0;
  }
}
/* THE NETWORK */
.network-img{
    margin-bottom: 24px;    
}
.network-list{
    margin-top: 24px;
    list-style-type: disc;
    padding-left: 20px;
}
@media only screen and (min-width: 1440px) {
 .network-container{
    position: relative;
 }
 .network-img{
    position: absolute;
    right: 160px;
    top: 80px;
    margin-bottom: 0;
 }
 .network-list{
    padding-left: 30px;
 }
}
/* HOW IT WORKS */
.how-container{
  position: relative;
}
.how-list{
  margin-top: 48px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.how-item{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.how-item-step{
  font-weight: 500;
    font-size: 20px;
    color: #fafdd0;
}
.how-text{
  font-weight: 500;
    font-size: 20px;
}
@media only screen and (min-width: 1440px) {
 .how-list{
  width: 544px;
  margin-bottom: 32px;
 }
 .how-item-step{
  font-size: 22px;
 }
 .how-text{
  font-size: 22px;
 }
}
/* BOOSTERS SYSTEM */
.boosters-list{
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.boosters-item{
  border-radius: 24px;
    padding: 8px 0 8px 8px;
    width: 343px;
    height: auto;
    background: #2e6e96;
    display: flex;
    flex-direction: column;
}
.boosters-item-title{
  margin-top: 12px;
  font-weight: 500;
    font-size: 20px;
    color: #fafdd0;
}
@media only screen and (min-width: 1440px) {
.boosters-list{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.boosters-item{
  width: 544px;
    height: 324px;
    padding: 16px;
}
.boosters-item-title{
font-size: 22px;
margin-top: 11px;
}
}
/* STRUCTURED PROGRESSION */
.structured-container{
  position: relative;
}
.structured-list{
  margin-top: 16px;
  margin-bottom: 24px;
  padding-left: 20px;
  list-style-type: disc;
}
.structured-text{
  font-weight: 500;
    font-size: 20px;
    margin-bottom: 24px;
}
.structured-img{
  margin-bottom: 0;
}
@media only screen and (min-width: 1440px) {
 .structured-text{
  width: 544px;
  font-size: 22px;
 }
 .structured-img{
  top: 34%;
 }
}